#EnterBtn, #cloudTitle {
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
    font-family: 'Fredoka One';
}

/* .btn-primary:hover {
    background-color: rgb(88, 76, 6);
    border-color: rgb(255, 217, 0);
}

.btn-primary:active {
    background-color: rgb(255, 217, 0);
    border-color: rgb(255, 217, 0);
} */